@font-face {
    font-family: 'OCRXReg';
    src: url('OCR-X-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OCRXMed';
    src: url('OCR-X-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
